*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-content{
    /* width: 30%;
    height: 10%; */
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
}

.text-editor-header{
    background-color: #ecf0f1;
    padding: 5px;
}

.text-editor-header .btn {
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 5px;
    cursor: pointer;
}


.content{
    min-height: 200px;
    border: 1px solid #ecf0f1;
    border-top: 0px;
    padding:20px;
    background-color: white;
    /* overflow: scroll; */
}

