{% extends "layout.html" %}

{% block header_block %}

<!-- Styles -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}">
<!-- End Styles -->

<!-- Scripts -->
<script src="{{ url_for('static', filename='scripts/jQuery.js')}} "></script>
<script src="{{ url_for('static', filename='scripts/about.js')}}"></script>
<!-- End Scripts  -->

<style>
    .row_add_on {
        margin: 5% 0%;
        /* height:20%   */
    }

    .introduction_text {
        padding: 5%;
        text-align: center;
        color: #F7FFF7;
    }

    .container_add_on {
        font-family: 'normalFont', sans-serif;
        background-color: #0B022D;
        height: 100%;
    }

    .logo_container {
        height: 100%;
    }

    h3 {
        color: #f318a2;
    }

    /* html,
    body {
        height: 100% !important;
    } */


    @media only screen and (min-width: 0px) and (max-width: 599px) {
        .container_add_on {
            flex-direction: column-reverse;
            width: 100vw;
        }
        .goal h1{
            font-size: 2rem;
        }
    }

    .goal{
        text-align: center;
        color: #F7FFF7;
        padding: 0 15%;
    }


</style>


<script>
    {% if error != None %}
        alert("{{ error }}");
    {% endif %}
</script>

{% endblock %}

{% block body_block %}

<div class="container_add_on container-fluid">
    <div class="row row_add_on">
        <div class="col- logo_container">
            <img src="images/Picture5.svg ">
        </div>
    </div>
    <div class="row row_add_on">
        <div class="col- goal">
            <h1>Mathifestation is the platform that brings together maths geeks to solve maths problems that poses
                difficulties even to the best of the best</h1>
        </div>
        <!-- <div class="col-6 goal">
                <h1>Mathifestation is the platform that brings together maths geeks to solve maths problems that poses difficulties even to the best of the best</h1>
            </div> -->
    </div>

    <div class="row row_add_on">
        <div class="col-xs-2" id="animateMe">
            <img src="images/logo_rubik_less.svg" class="objectFloating">
        </div>
    </div>
</div>

{% endblock %}
