{% extends "layout.html" %}

{% block header_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/login.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/media.css')}}">

<style>
    .introduction_row {
        padding: 10%;
    }

    .introduction_text {
        padding: 5%;
        text-align: center;
        color: #F7FFF7;
    }

    .introduction_container {
        font-family: 'normalFont', sans-serif;
        background-color: #0B022D;
    }

    .logo_container {
        height: 100%;
        margin-top: 5%;
    }

    h3 {
        color: #f318a2;
    }

    @media only screen and (min-width: 0px) and (max-width: 599px) {
        .introduction_container {
            flex-direction: column-reverse;
            width: 100vw;
        }

        .container_add_on {
            height: 60vh;
        }
    }
</style>

<!-- Part of the motivation -->
<!-- Styles -->
<!-- End Styles -->

<!-- Scripts -->
<script src="{{ url_for('static', filename='scripts/jQuery.js')}} "></script>
<script src="{{ url_for('static', filename='scripts/about.js')}}"></script>
<!-- End Scripts  -->

<style>

    @media only screen and (min-width: 0px) and (max-width: 800px) {
        .container_add_on {
            height: 70vh !important;
        }
    }

    @media only screen and (min-width: 800px) and (max-width: 1500px) {
        .container_add_on {
            height: 70vh !important;
        }
    }

    .row_add_on {
        margin-top: 7%;
        /* height:20%   */
    }


    .introduction_text {
        padding: 5%;
        text-align: center;
        color: #F7FFF7;
    }

    .container_add_on {
        font-family: 'normalFont', sans-serif;
        background-color: #0B022D;
        height: 110vh;
    }

    .logo_container {
        height: 100%;
    }

    h3 {
        color: #f318a2;
    }

    /* html,
    body {
        height: 100% !important;
    } */


    @media only screen and (min-width: 0px) and (max-width: 599px) {
        .container_add_on {
            flex-direction: column-reverse;
            width: 100vw;
        }

        .goal h1 {
            font-size: 1.3rem;
        }

        .my_bio{
            font-size: 1rem;
        }
    }

    .goal {
        text-align: center;
        color: #F7FFF7;
        padding: 0 15%;
    }

    .objectFloating {
        position: absolute;
        width: 56px !important;
        height: 53px !important;
    }

    .card-text{
        height: 50px;
    }

    .contest_content{
        display: flex;
        justify-content: space-between;
    }

    .last_row{
        margin: 3% 0%;
        background-color: white;
        height: 20vh;
    }

    .media_follow{
        padding-left:15px;
    }
</style>



<script>
    {% if error != None %}
        alert("{{ error }}"); 
    {% endif %}


    function ask_question() {
        {% if user==None %}
            alert("You need to login to ask a question");
        {% else %}
            console.log("{{user}}")
            window.location.href = "/ask_question"
        {% endif %}
    }
    function answer_question(){
        window.location.href = "/search_question_page/1"
    }

    function test_yourself(){
        window.location.href = "/search_quiz_page"
    }

    function create_test(){
        {% if user==None %}
            alert("You need to login to create a test");
        {% else %}
            console.log("{{user}}")
            window.location.href = "/test_create"
        {% endif %}
    }
</script>

{% endblock %}

{% block body_block %}
<div class="introduction_container container-fluid">
    <div class="row introduction_row m-0 d-flex justify-content-center">
        <div class="col-md-6 introduction_text order-lg-1 order-2">
            <h2>Are you ready to give your brain an exercise?</h2>
            <h3>Start with Mathifestation!</h3>
        </div>
        <div class="col-md-6 logo_container order-lg-2  order-1">
            <img src="{{ url_for('static', filename='images/Picture5.svg')}}">
        </div>
    </div>
</div>
<div class="container mt-5 mb-5">
    <div class="row">
        <!-- Card 1 -->
        <div class="col-md-4  d-flex align-items-stretch">
            <div class="card">
                <img src="{{ url_for('static', filename='images/card_1.jpg')}}" class="card-img-top" alt="Card Image 1">
                <div class="card-body">
                    <h5 class="card-title">Ask Question</h5>
                    <p class="card-text">Ask Any Question about any thing you do not understand</p>
                    <a onclick="ask_question()" class="btn btn-primary">Ask</a>
                </div>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="col-md-4  d-flex align-items-stretch">
            <div class="card ">
                <img src="{{ url_for('static', filename='images/card_2.jpg')}}" class="card-img-top" alt="Card Image 2">
                <div class="card-body">
                    <h5 class="card-title">Answer Questions</h5>
                    <p class="card-text">Answer the questions of other fellow Maths Geeks</p>
                    <a onclick="answer_question()" class="btn btn-primary">Answer</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4  d-flex align-items-stretch">
            <div class="card">
                <img src="{{ url_for('static', filename='images/card_3.jpg')}}" class="card-img-top" alt="Card Image 2">
                <div class="card-body">
                    <h5 class="card-title">Contests</h5>
                    <p class="card-text">Create quizzes and Enroll in others to challenge yourself.</p>
                    <div class="contest_content">
                        <a onclick="create_test()" class="btn btn-primary">Create Test</a>
                        <a onclick="test_yourself()" class="btn btn-primary">Test yourself</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container_add_on container-fluid ">
    <div class="row row_add_on d-flex justify-content-center">
        <div class="col- logo_container">
            <img src="{{ url_for('static', filename='images/Picture5.svg')}}">
        </div>
    </div>
    <div class="row row_add_on">
        <div class="col- goal">
            <h1>Motivation for Mathifestation is to create a platform that brings together maths geeks in a mathematical
                environment to solve maths problems that poses
                difficulties even to the best of the best and enroll into contests</h1>
        </div>
        <!-- <div class="col-6 goal">
                    <h1>Mathifestation is the platform that brings together maths geeks to solve maths problems that poses difficulties even to the best of the best</h1>
                </div> -->
    </div>

    <div class="row">
        <div class="col-2" id="animateMe">
            <img src="{{ url_for('static', filename='images/logo_rubik_less.svg')}}" class="objectFloating">
        </div>
    </div>
</div>

<div class="container-fluid ">

<div class="row last_row">
    <div class="col-8" >
        <h4 class="my_bio" style="text-align: center; margin-bottom:10px;"> I am <strong>Omar Elsendiony</strong>, a software engineer with high expertise in AI, Digital Verification, Digital Design and Automation testing.</h4>
        <h5 class="my_bio" style="text-align:center"> I created this platform to
            help students and math geeks to solve math problems and enroll in contests. I hope you enjoy the
            platform.</h5>
    </div>
    <div class="col-4 media_follow" >
        <h4 style="color:#f318a2"> Follow me:</h4>
        <div>
            <div class = "container-icons">
                <a class = "icons"><img src="{{ url_for('static', filename='images/github.png')}}" style="width:inherit" class="icon-image" href="https://github.com/Omar-Elsendiony"></a>
                <a class = "hoverableIcon icons" style="background-color: black;" href="https://github.com/Omar-Elsendiony"><img src="{{ url_for('static', filename='images/github.png')}}"  class="icon-image icon-image-2" style="filter: brightness(0) invert(1) ;background-color: transparent;"></a>
            </div>

            <div class = "container-icons">
                <a class = "icons"  href="https://www.linkedin.com/in/omarelsendiony/"><img src="{{ url_for('static', filename='images/linkedin.png')}}" style="width:inherit" class="icon-image"></a>
                <a class = "hoverableIcon icons" style="background-color: #0082CB;" href="https://www.linkedin.com/in/omarelsendiony/"><img src="{{ url_for('static', filename='images/linkedin.png')}}" class="icon-image icon-image-2" style="filter: brightness(0) invert(1) ;background-color: transparent;"></a>
            </div>
        </div>
    </div>
</div>
</div>



{% endblock %}
