{% extends "layout.html" %}

{% block header_block %}
    <!-- <link rel="stylesheet" href="styles/question.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/rich_text_editor.css')}}">

    <script src="{{ url_for('static', filename='scripts/jQuery.js')}}"></script>
    <script src="{{ url_for('static', filename='scripts/rich_text_editor.js')}}"></script>

    <style>
        .row_container {
            padding: 5% 0%;
        }

        .row_question {
            margin: 3% 0%;
            cursor: pointer;
        }

        .column_question:hover {
            background-color: aliceblue;
            border: 2px solid grey;
            border-radius: 10px;
            padding: 2%;
        }

        .column_question {
            background-color: lightgray;
            border: 2px solid grey;
            border-radius: 10px;
            padding: 2%;
        }


        input[type="button"] {
            width: 10%;
            background-color: #0B022D;
            text-align: center;
            color: white;
            border: none;

        }

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #f318a2;
            border-radius: 5px;
        }



        .column_question div a {
            color: blue !important;
            cursor: pointer;
        }

        .container {
            margin: 5% 5%;
        }

        hr {
            border: 2px solid #f318a2;
        }

        h4 {
            color: #f318a2;
        }

        input[value="Post"]
        {
            width:100px !important;
        }

        .question_title{
            font-size: 20px;
            font-weight: bold;
        }

        .question{
            text-decoration: none;
            color: black;
        }

        #headline {
            margin-top: 10px;
            color: #f318a2;
        }

    </style>

    

{% endblock %}

{% block body_block %}
    <div class="container question_metadata">
        <h2 id="headline">Search Questions</h2>
        <div class="row d-flex align-items-center" style="width: 100%;">
            <form action="/search_question_page">
                <input type="text" id="searchText" name="searchText" placeholder="Search Questions...">
            </form>
        </div>
    </div>

    <div class="container">
        <div>
            <h3>Results</h3>
        </div>
        {% if questions == [] %}
            <h2> No results found</h2>
        {% else %}
            {% for index in range(questions | length) %}
            <a class="question" href="question/{{ questions[index].id }}"> 
                <div class="row row_question d-flex align-items-center">
                    <div class="col-md-12 column_question">
                        <div>
                            <h3>{{ questions[index].title }}</h3>
                            <p>{{ questions[index].body }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        {% endif %}

    </div>

    <script src="https://use.fontawesome.com/a31a3f8384.js"></script>

{% endblock %}
