{% extends "layout.html" %}

{% block header_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/signUp.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/test_create.css')}}">

<script src="{{ url_for('static', filename='scripts/jQuery.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/test_create.js')}}"></script>

<script>
    var parseMe = JSON.parse('{{ questions | tojson | safe }}')
    console.log("{{questions['1']}}")
</script>



{% endblock %}

{% block body_block %}

<div class="question_container container-fluid">
    <div class="content_row row">
        <div class="col-sm-2 playing_rubik">
            <img src="images/logo_rubik_less.svg" id="floatingRubik">
        </div>

        <div class="col-12 col-lg-8 question_column p-0">
            <div class="question_content">
                <div class="rules_data">
                    <h1 class="Rules_Intro">Welcome to Mathifestation Quiz Creation</h1>
                    <h2> Rules: </h2>
                    <ul>
                        <li>Each question has 4 options</li>
                        <li>Each question has only one correct answer</li>
                        <li>Each question has a time limit of 30 seconds</li>
                        <li>Each question has a score of 10 points</li>
                    </ul>
                    <div class="start">
                        <button id="startButton">Start</button>
                    </div>
                </div>

                <div class="meta_data">
                    <textarea class="quiz_meta" placeholder="Quiz Title..."></textarea>
                    <textarea class="quiz_meta" placeholder="Quiz Description..."></textarea>
                    <div class="start">
                        <button id="startQuestion">Start Questioning</button>
                    </div>
                </div>

                <div class="question_creation">
                    <h2 class="test_title">Number Theory Hard Questions</h2>
                    <section>
                        <textarea class="que_text" placeholder="Question..."></textarea>

                        <div class="option_list">

                            <div class="option" onclick="optionSelected(this)">
                                <label>A-</label>
                                <input type="text" placeholder="Option 1">
                            </div>

                            <div class="option" onclick="optionSelected(this)">
                                <label>B-</label>
                                <input type="text" placeholder="Option 2">
                            </div>

                            <div class="option" onclick="optionSelected(this)">
                                <label>C-</label>
                                <input type="text" placeholder="Option 3">
                            </div>

                            <div class="option" onclick="optionSelected(this)">
                                <label>D-</label>
                                <input type="text" placeholder="Option 4">
                            </div>
                        </div>
                        <div class="controls">
                            <button>Previous</button>
                            <p id="numberQuestion"></p>
                            <button id="add">+</button>
                        </div>
                        <div class="submitControl">
                            <button class="submit">Submit</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
