{% extends "layout.html" %}

{% block header_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/signUp.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/test_create.css')}}">

<script src="{{ url_for('static', filename='scripts/jQuery.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/test.js')}}"></script>

<style>

.Quiz_title{
    color: #f318a2;
}


.Quiz_Start{
    display: none;
}

</style>

<script>

    var selectedItem = null;
    function optionSelected(element) {
        console.log(element)
        if (selectedItem != null) {
            selectedItem.style.borderColor = "aliceblue";
            selectedItem.style.backgroundColor = "white";
        }
        element.style.backgroundColor = "lightblue";
        element.style.borderColor = "blue";
        selectedItem = element;
    }
    setTimeout(() => {

    document.getElementById('startButton').addEventListener('click',
        function(event) {
            // Handle the form data
            event.preventDefault();
            document.querySelector('.quiz_info').style.display = "none";
            document.querySelector('.Quiz_Start').style.display = "block";
        });
    
    }, 1000);
</script>

{% endblock %}

{% block body_block %}

<div class="question_container container-fluid">
    <div class="introduction_row row">
        <div class="col-sm-2 playing_rubik">
            <img src="{{ url_for('static', filename='images/logo_rubik_less.svg')}}" id="floatingRubik">
        </div>

        <div class="col-12 col-lg-8 question_column p-0">
            <div class="question_content">
                <div class="quiz_info">
                    <h1 class="Quiz_title">What is the first prime number?</h1>
                    <h5 class="Quiz_description">In this quiz, we are trying to find the first</h5>
                    <h3 class="rules">Rules:</h3>
                    <ul>
                        <li>Each question has 4 options</li>
                        <li>Each question has only one correct answer</li>
                    </ul>
                    <div>
                        <button id="startButton">Start</button>
                    </div>
                </div>
                <div class="Quiz_Start">
                    <h2 class="Quiz_title">Number Theory Hard Questions</h2>
                    <section>
                        <h3 class="que_text">What is 2 + 2?</h3>
                        <div class="option_list">

                            <div class="option" onclick="optionSelected(this)">
                                <span>first option</span>
                            </div>

                            <div class="option" onclick="optionSelected(this)">
                                <span>second optionsecond optionsecond optionsecond optionsecond optionsecond
                                    optionsecond optionsecond optionsecond optionsecond option</span>
                            </div>

                            <div class="option" onclick="optionSelected(this)">
                                <span>third option</span>
                            </div>

                            <div class="option" onclick="optionSelected(this)">
                                <span>fourth option</span>
                            </div>
                        </div>
                        <div class="controls">
                            <button>Previous</button>
                            <p class="numberQuestion">Question 1 of 10</p>
                            <button>Next</button>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
