{% extends "layout.html" %}

{% block header_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/signUp.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/test_create.css')}}">

<script src="{{ url_for('static', filename='scripts/jQuery.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/test_create.js')}}"></script>

<script>
    var parseMe = JSON.parse('{{ questions | tojson | safe }}')
    console.log("{{questions['1']}}")
</script>

<style>
.option label{
    cursor: pointer;
    display: inline-block;
    width:35px;
    height:35px;
    text-align: center;
    margin-right: 5px;
    padding-top:5px;
}

.labelFormat{
    color: red;
    background-color: #FF7F7F;
    cursor: pointer;
}

.success_column{
    display: none;
}

</style>

{% endblock %}

{% block body_block %}

<div class="question_container container-fluid">
    <div class="content_row row">
        <div class="col-sm-2 playing_rubik">
            <img src="images/logo_rubik_less.svg" id="floatingRubik">
        </div>

        <div class="col-12 col-lg-8 question_column p-0">
            <div class="question_content">
                <div class="rules_data">
                    <h1 class="Rules_Intro">Welcome to Mathifestation Quiz Creation</h1>
                    <h2> Rules: </h2>
                    <ul>
                        <li>Each question has 4 options</li>
                        <li>Each question has only one correct answer</li>
                    </ul>
                    <div class="start">
                        <button id="startButton">Start</button>
                    </div>
                </div>

                <div class="meta_data">
                    <input id="quiz_meta_title" placeholder="Quiz Title...">
                    <textarea id="quiz_meta_description" placeholder="Quiz Description..."></textarea>
                    <div class="start">
                        <button id="startQuestion">Start Questioning</button>
                    </div>
                </div>

                <div class="question_creation">
                    <h2 id="test_title"></h2>
                    <section>
                        <textarea class="que_text" placeholder="Question..."></textarea>

                        <div class="option_list">

                            <div class="option" id="one">
                                <label class="labelFormat"  onclick="optionSelected(this)">&#x274c</label>
                                <input type="text" placeholder="Option 1">
                            </div>

                            <div class="option" id="two">
                                <label class="labelFormat"  onclick="optionSelected(this)">&#x274c</label>
                                <input type="text" placeholder="Option 2">
                            </div>

                            <div class="option" id="three">
                                <label class="labelFormat"  onclick="optionSelected(this)">&#x274c</label>
                                <input type="text" placeholder="Option 3">
                            </div>

                            <div class="option" id="four">
                                <label class="labelFormat"  onclick="optionSelected(this)" >&#x274c</label>
                                <input type="text" placeholder="Option 4">
                            </div>
                        </div>
                        <div class="controls">
                            <button id="previousButton">Previous</button>
                            <p id="numberQuestion"></p>
                            <button id="add">+</button>
                            <button id="next">next</button>
                        </div>
                        <div class="submitControl">
                            <button id="submit">Submit</button>
                        </div>
                    </section>
                </div>
                <div class="success_column">
                    <h1>You have successfully submitted the quiz</h1>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
