{% extends "layout.html" %}

{% block header_block %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/signUp.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/test_create.css')}}">

<script src="{{ url_for('static', filename='scripts/jQuery.js')}}"></script>
<script src="{{ url_for('static', filename='scripts/test.js')}}"></script>

<style>

.Quiz_title{
    color: #f318a2;
    border-bottom: 2px solid #f318a2;
}


.Quiz_Start{
    display: none;
}

</style>

<script>
    var idn = 0
    var quiz_id = "{{ quiz.id }}"
    console.log(quiz_id)
    var quiz_questions = new Array()
    var quiz_questions_choices = new Array()
    {% for index in range(quiz_questions | length) %}
        quiz_questions.push("{{ quiz_questions[index].question_text }}")
        var question_choices = new Array()
        {% for index2 in range(choices[index] | length)%}
            question_choices.push("{{ choices[index][index2].answer_text }}")
        {% endfor %}
        quiz_questions_choices.push(question_choices)
        
    {% endfor %}


</script>

<style>
    .option{
        justify-content: flex-start !important;
    }

    .option p{
        margin-bottom: 0px;
    }
    #submitButton{
        display: none;
    }

    .end{
        display: none;
    }
    </style>

{% endblock %}

{% block body_block %}

<div class="question_container container-fluid">
    <div class="introduction_row row">
        <div class="col-sm-2 playing_rubik">
            <img src="{{ url_for('static', filename='images/logo_rubik_less.svg')}}" id="floatingRubik">
        </div>

        <div class="col-12 col-lg-8 question_column p-0">
            <div class="question_content">
                <div class="quiz_info">
                    <h1 class="Quiz_title">{{ quiz.title }}</h1>
                    <u><h4 class="rules">Description:</h4></u>
                    <h5 class="Quiz_description">{{ quiz.description }}</h5>
                    <u><h4 class="rules">Rules:</h4></u>
                    <ul>
                        <li>Each question has 4 options</li>
                        <li>Each question has only one correct answer</li>
                    </ul>
                    <div>
                        <button id="startButton">Start</button>
                    </div>
                </div>
                <div class="Quiz_Start">
                    <h2 class="Quiz_title">{{ quiz.title }}</h2>
                    <section>
                        <h3 class="que_text"></h3>

                        <div class="option_list">
                            <div class="option" id="one"  onclick="optionSelected(this)">
                                <label class="labelFormat">A-</label>
                                <p></p>
                            </div>

                            <div class="option" id="two"  onclick="optionSelected(this)">
                                <label class="labelFormat">B-</label>
                                <p></p>
                            </div>

                            <div class="option" id="three"  onclick="optionSelected(this)">
                                <label class="labelFormat">C-</label>
                                <p></p>
                            </div>

                            <div class="option" id="four"  onclick="optionSelected(this)">
                                <label class="labelFormat">D-</label>
                                <p></p>
                            </div>
                        </div>

                        <div class="controls">
                            <button id="previousButton">Previous</button>
                            <p class="numberQuestion"></p>
                            <button id="next">Next</button>
                            <button id="submitButton">Submit</button>
                        </div>
                    </section>
                </div>
                <div class="end">
                    <h1>Thank you very much </h1>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
