/*   Social media icons ************** */
/* **************************************/
.container-icons{
    position: relative;
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0;
    padding: 0;
    transition: background-color 250ms;
}

.icons{
    position:absolute;
}

.hoverableIcon{
    position:absolute;
    height: 0%;
    width:100%;
    background-color: #FFD700;
    z-index:2;
}

.hoverableIcon .icon-image{
    /* height: inherit; */
}

/* .container-icons:hover .hoverableIcon .icon-image{
    height: auto;
} */

.container-icons:hover .hoverableIcon{
    /* position:absolute;
    height: 0%; */
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: both;
}

/* div:hover .hoverableIcon {
    animation-name: example;
    animation-duration: 4s;
} */
  
@keyframes example {
    from  {height: 0%;}
    to {height:100%;}
}


i{
    width: max-content;
    height: 64px;
    background-image: url("facebook.png");
    background-repeat: no-repeat;
}

a{
    display: inline-block;
    height: inherit ;
    overflow: hidden;

}


a:hover{
    /* background-color: #022EA9; */
    
}

/* .icon-image:hover{
    background-color: #022EA9;
    filter: brightness(0) invert(1)
} */




.icon-image{
    /* position: relative;
    top:8px; */
    margin: auto;
    /* width: auto;
    height: min-content ; */
    width: 64px;
    height: 64px;
    overflow: hidden;
    transform: scale(0.5);
    /* background-image: url("facebook.png");  */
    filter:   grayscale(100%);
    transition: background-color 250ms; 
}


.icon-image-2{
    filter: grayscale(0%)
}



