/*   Social media icons ************** */
/* **************************************/
.container-icons{
    position: relative;
    width: 64px;
    height: 64px;
    display: inline-block;
    margin: 0;
    padding: 0;
    transition: background-color 250ms;
}

.icons{
    position:absolute;
}

.hoverableIcon{
    position:absolute;
    height: 0%;
    width:100%;
    background-color: #FFD700;
    z-index:2;
}



.container-icons:hover .hoverableIcon{
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: both;
}


@keyframes example {
    from  {height: 0%;}
    to {height:100%;}
}


.icons{
    display: inline-block;
    height: inherit ;
    overflow: hidden;
}


.icon-image{
    /* position: relative;
    top:8px; */
    margin: auto;
    width: 64px;
    height: 64px;
    overflow: hidden;
    transform: scale(0.5);
    filter:   grayscale(100%);
    transition: background-color 250ms; 
}


.icon-image-2{
    filter: grayscale(0%)
}
