h1{
    font-size: 2em;
    color: #f318a2;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* html, body{
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
} */


h2{
    font-size: 1.5em;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}


.start_asking{
    background-color: #0B022D;
    height: 40%;
    /* padding: 10%; */
}



input{
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #f318a2;
    border-radius: 5px;
    /* background-color: #f318a2; */
    /* font-size: 1em; */
}


input[type="submit"]{
    width: 20%;
    background-color: #f318a2;
    color: white;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
}


.form_content{
    color: #0B022D;
    /* font-size: 1.2rem; */
    background-color: white;
    width: 100%;
    line-height: 1;
    padding-bottom: 20%;
    /* margin-bottom: 10%; */
}


h3, p{
    margin: 0;
}

p{
    font-size: smaller;
}

.blackWhite{
    color: black !important;
    background-color: white;
    border-color: #0B022D;
    box-shadow: none;
}

